body{
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(white, black 100%);
}

.imagen img{
    position: relative;
    left: 500px;
    top: 630px;
    z-index: 2;
}

.rect{
    margin: auto;
    width: 1400px;
    height: 800px;
    border: 1px solid black;
    background: white;
    position: relative;
    bottom: 20px;
}