body{
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(white, black 100%);
}

.imagen img{
    position: relative;
    left: 500px;
    bottom: 300px;
    left:300px;
    z-index: 2;
}

.rect{
    margin: auto;
    width: 1400px;
    height: 800px;
    border: 1px solid black;
    background: white;
    position: relative;
    bottom: -350px;
}

.rect2{
    margin: auto;
    width: 110px;
    height: 799px;
    border: 1px solid black;
    background: black;
    position: relative;
    bottom: 956px;
    left: 650px;
}
.msjmtr h1{
    width: 716px;
    height: 55px;
}