html{
    height: 100%;
}

body{
    background: rgb(0, 0, 0);
    background: linear-gradient(white, gray 100%);
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

.cont{
    width: 1400px;
    height: 800px;
    margin: auto;
    background-color: white;
    position: relative;
    top: 500px;
}

.rect{
    width: 110px;
    height: 800px;
    background-color: black;
    position: relative;
    left: 1290px;
    bottom: 358px;
}

.rect .val{
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    top: 150px;
}

.rect .img4{
    width: 70px;
    height: 187px;
    position: relative;
    left: 21px;
    top: 270px;
}

.rect .img5{
    width: 24px;
    height: 14px;
    position: relative;
    right: 29px;
    bottom: 180px;
}

.rect .img6{
    width: 24px;
    height: 14px;
    position: relative;
    left: 42px;
    top: 515px;
}

.imagen img{
    position: relative;
    width: 600px;
    left: 370px;
    bottom: -100px;
}

.rect2 .img1{
    position: relative;
    bottom: 1110px;
    left: 1010;
}

.rect2 .img2{
    position: relative;
    bottom: 1115px;
    left: 890;
}

.rect2 .img7{
    width: 100px;
    height: 5px;
    position: relative;
    bottom: 1100px;
    left: 742;
}

.rect2 .logo{
    position: relative;
    bottom: 1090px;
    left: 50px;
}

.rect2 .ct{
    position: relative;
    left: 750px;
    bottom: 1245px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.rect2 .vs{
    position: relative;
    left: 1000px;
    bottom: 1180px;
    font-size: 30px;
}

.verde{
    position: relative;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 7px;
    bottom: 730px;
    left: 1050px;
}

.verde .img3{
    width: 129px;
    height: 29px;
    position: relative;
    left: 15px;
    top: 25px;
}

.verde .rec{
    font-size: 27px;
    text-align: center;
    position: relative;
    top: 7px;
}

.rect3 .trj{
    position: relative;
    left: 340px;
    bottom: 1050px;
    font-size: 40px;
}

.rect3 .sld{
    position: relative;
    left: 500px;
    bottom: 1050px;
    font-size: 29px;
}

.rect3 .esc{
    position: relative;
    left: 550px;
    bottom: 1050px;
    font-size: 29px;
}

.rect4{
    width: 288px;
    height: 58px;
    position: relative;
    bottom: 1070;
    left: 488;
    border: 2px solid gray;
    border-radius: 10px;
}

.rect4 .prc{
    font-size: 29px;
    text-align: center;
    position: relative;
    bottom: 15px;
    color: rgb(74, 72, 72);
}