@font-face {
    font-family: Ember;
    src: url(Ember/AmazonEmber_Bd.ttf);
}

@font-face {
    font-family: Ember2;
    src: url(Ember/AmazonEmber_Lt.ttf);
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: black;
}

.cont{
    width: 1920px;
    height: 4030px;
    margin: auto;
    bottom: 10px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.fond .fondo{
    width: 100%;
    margin: auto;
}

.rect .img{
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 1330px;
    left: 59px;
}

.rect .logo{
    width: 556px;
    height: 310px;
    position: relative;
    bottom: 857px;
    left: 650px;
}

.rect .text{
    font-size: 63px;
    color: white;
    font-family: Ember;
    text-align: center;
    position: relative;
    bottom: 950px;
    font-size: 55px;
}

.rect .text2{
    font-size: 63px;
    color: white;
    font-family: Ember2;
    text-align: center;
    position: relative;
    bottom: 980px;
    font-size: 26px;
}

.rect2{
    width: 150px;
    height: 40px;
    background-color: white;
    position: relative;
    bottom: 1670px;
    left: 1720px;
    border-radius: 20px;
    text-align: center;
    font-family: Ember2;
}

.rect2 .login{
    position: relative;
    top: 10px;
}

.rect3{
    width: 470px;
    height: 80px;
    background-color: white;
    position: relative;
    bottom: 1040px;
    left: 700px;
    border-radius: 20px;
    text-align: center;
    font-family: Ember2;
}

.rect3 .sign{
    position: relative;
    top: 13px;
    font-size: 40px
}

.rect4 .img2{
    width: 1600px;
    height: 560px;
    position: relative;
    left: 179px;
    bottom: 720px;
}

.rect5 .img3{
    width: 1600px;
    height: 560px;
    position: relative;
    left: 177px;
    bottom: 680px;
}

.rect5 .text3{
    font-size: 63px;
    color: white;
    font-family: Ember;
    text-align: center;
    position: relative;
    bottom: 1260px;
    left: 47px;
    font-size: 55px;
}

.rect5 .img4{
    width: 160px;
    height: 260px;
    position: relative;
    bottom: 1280px;
    left: 580px;
}

.rect5 .img5{
    width: 160px;
    height: 260px;
    position: relative;
    bottom: 1280px;
    left: 590px;
}

.rect5 .img6{
    width: 160px;
    height: 260px;
    position: relative;
    bottom: 1280px;
    left: 600px;
}

.rect5 .img7{
    width: 160px;
    height: 260px;
    position: relative;
    bottom: 1280px;
    left: 610px;
}

.rect5 .img8{
    width: 160px;
    height: 260px;
    position: relative;
    bottom: 1280px;
    left: 620px;
}

.rect5 .text4{
    font-size: 63px;
    color: white;
    font-family: Ember2;
    text-align: center;
    position: relative;
    bottom: 1300px;
    font-size: 40px;
    left: 75px;
}

.rect6 .img9{
    width: 1600px;
    height: 500px;
    position: relative;
    left: 175px;
    bottom: 1260px;
}

.rect6 .text5{
    font-size: 63px;
    color: white;
    font-family: Ember;
    text-align: center;
    position: relative;
    bottom: 1780px;
    font-size: 60px;
    left: 50px;
}

.rect6 .img10{
    width: 169px;
    height: 169px;
    position: relative;
    bottom: 1800px;
    left: 885px;
}

.rect6 .text6{
    font-size: 63px;
    color: white;
    font-family: Ember2;
    text-align: center;
    position: relative;
    bottom: 1820px;
    font-size: 40px;
    left: 45px;
}

.rect7 .text7{
    font-size: 63px;
    color: white;
    font-family: Ember2;
    text-align: center;
    position: relative;
    bottom: 1820px;
    font-size: 125px;
}

.rect7 .text8{
    font-size: 63px;
    color: white;
    font-family: Ember2;
    text-align: center;
    position: relative;
    bottom: 1860px;
    font-size: 45px;
}

.rect7 .img11{
    width: 584px;
    height: 534px;
    position: relative;
    bottom: 1880px;
    left: 590px;
}

.rect7 .img12{
    width: 256px;
    height: 220px;
    position: relative;
    bottom: 2030px;
    right: 250px;
}

.rect7 .img13{
    width: 271px;
    height: 238px;
    position: relative;
    bottom: 2030px;
    left: 350px;
}

.rect8 .img14{
    width: 430px;
    height: 241px;
    position: relative;
    bottom: 1910px;
    left: 730px;
}

.rect8 .img15{
    width: 831px;
    height: 25px;
    position: relative;
    bottom: 1960px;
    left: 65px;
}

.rect8 .img16{
    width: 92px;
    height: 20px;
    position: relative;
    bottom: 2100px;
    right: 510px;
}