.cont{
    margin: auto;
    width: 900px;
    height: 1000px;
    border: 4px solid black;    
}
.imagen img{
    border-radius: 50%;
    border: 2px solid black;
}

.rect{
    width: 250px;
    height: 300px;
    border: 2px solid black;
}
.dip{
    width: 250px;
    height: 320px;
    border: 2px solid black;
}
