@font-face {
    font-family: mlight;
    src: url(Myriad/MyriadPro-Light.otf);
}

@font-face {
    font-family: mregular;
    src: url(Myriad/MYRIADPRO-REGULAR.OTF);
}

body{
    font-family: mregular;
}

.contenedor{
    background-image:url(Imagenes/pexels-clive-kim-4150032.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1580px;
    margin: auto;
}

.b-sup{
    position: fixed;
    margin-top: -8px;
    width: 1920px;
    height: 170px;
    background-color: #3669c9;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

.b-sup button{
    position: relative;
    left: 50px;
    width: 249px;
    height: 60px;
    top: 60px;
    border-radius: 20px;
    font-size: 30px;
}

.b-sup a{
    font-size: 34px;
    position: relative;
    top: 67px;
    color: white;
    text-decoration: none;
}

.b-sup img{
    width: 350px;
    height: 70px;
    position: relative;
    top: 50px;
}

.b-blanca{
    width: 1445px;
    height: 1160px;
    background-color: white;
    border-radius: 100px;
    position: relative;
    top: 185px;
    left: 190px;
}

.b-blanca img{
    position: relative;
    left: 595px;
    top: 40px;
}

.b-blanca .b{
    text-align: center;
    font-size: 26px;
    position: relative;
    top: 45px;
}

.b-blanca .m{
    width: 240px;
    height: 77px;
    position: relative;
    left: 630px;
    top: 55px;
}

.b-blanca label{
    display: block;
    margin-top: 20px;
    font-size: 21px;
    height: 35px;
}

.b-blanca .dia{
    position: relative;
    bottom: 1000px;
}

.b-blanca input{
    width: 792px;
    height: 70px;
    font-size: 25px
}

.b-blanca label,input{
    position: relative;
    left: 310px;
    top: 50px;
}

.b-blanca .l{
    position: absolute;
    top: 740px;
}

.b-blanca .text{
    font-size: 11px;
    position: relative;
    top: 230px;
    color: gray;
    text-align: center;
    left: 20px;
}

.b-blanca a{
    background-color: #3669c9;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    top: 300px;
    left: 670px;
    padding: 25px 90px;
}

.b-inf{
    position: relative;
    width: 1920px;
    height: 170px;
    background-color: #3669c9;
    top: 249px;
}

.b-inf{
    color: white;
    text-align: center;
    font-size: 21px;
}

.b-inf .texto3{
    position: relative;
    right:500px;
    bottom: 75px;
    line-height: 30px;
}

.b-inf .texto3 img{
    position: relative;
    top: 20px;
}

.b-inf .texto4{
    position: relative;
    left: 600px;
    bottom: 280px;
    line-height: 30px;
}

.b-inf .texto4 img{
    position: relative;
    top: 22px;
}

.log{
    text-align: center;
    position: relative;
    top: 60px;
}